CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
/.vs
/.vscode
/out
/Scriping/.vs
/Scriping/lib/Debug
/Scriping/out/build/win32-msvc/.cmake/api/v1/query/client-MicrosoftVS
/Scriping/out/build/win32-msvc
/Scriping/Generated
/Scriping/lib/Release
